@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-blue: #0a1e43;
    --primary-light-blue: #22a8ff;
    --primary-bright-blue: #32b5fd;
    --primary-dark-blue: #071e45;
    
    /* Secondary Colors */
    --secondary-white: #ffffff;
    --secondary-light-gray: #f7f7f7;
    --secondary-gray: #333333;
    
    /* Accent Colors */
    --accent-orange: #ff793f;
    --accent-light-blue: #eaf8ff;
    
    /* Border Colors */
    --border-light: #e0e0e0;
    --border-medium: #cccccc;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-primary-blue {
    background-color: var(--primary-blue);
  }
  
  .bg-primary-light-blue {
    background-color: var(--primary-light-blue);
  }
  
  .bg-primary-bright-blue {
    background-color: var(--primary-bright-blue);
  }
  
  .bg-primary-dark-blue {
    background-color: var(--primary-dark-blue);
  }
  
  .bg-accent-light-blue {
    background-color: var(--accent-light-blue);
  }
  
  .bg-accent-orange {
    background-color: var(--accent-orange);
  }
  
  /* Text Color Utilities */
  .text-primary-blue {
    color: var(--primary-blue);
  }
  
  .text-primary-light-blue {
    color: var(--primary-light-blue);
  }
  
  .text-primary-bright-blue {
    color: var(--primary-bright-blue);
  }
  
  .text-primary-dark-blue {
    color: var(--primary-dark-blue);
  }
  
  .text-accent-orange {
    color: var(--accent-orange);
  }
}